html,
body,
ul,
p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.submit-form-button {
  padding: 5px;
  border-radius: 8px;
  border: 2px solid grey;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  margin-top: 48px;
  margin-bottom: 24px;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #111111;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

:focus {
  outline: 0;
}

.my-automations-wrapper {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  background: white;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

.rollout-automations-list__container {
  padding-bottom: 16px;
}

.rollout-automations-list__header {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}

.rollout-input {
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #d5dce2;
  border-radius: 4px;
  font-size: 16px;
}

.rollout-combobox__input {
  outline: none;
  border: none;
  width: 100%;
  padding-left: 12px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

.rollout-combobox__input[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.rollout-combobox__input:focus {
  border-color: red;
}

.rollout-combobox__input__group {
  position: relative;
  display: flex;
  outline: none;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: #d5dce2;
}

.rollout-combobox__input__group[data-focused] {
  border-color: #aa4849;
}

.rollout-combobox__input__group[data-disabled] {
  cursor: not-allowed;
  opacity: 0.8;
}

.rollout-combobox__input__left-element,
.rollout-combobox__input__right-element {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #91959c;
}

.rollout-combobox__input__left-element {
  size: 24px;
  left: 8px;
  border-width: 1px;
  border-color: #eff1f4;
  border-style: solid;
  border-radius: 6px;
  background: white;
  pointer-events: none;
}

[role="group"][data-avatar][data-selected]
  .rollout-combobox__input__left-element {
  background: transparent;
  border: none;
  color: white;
  font-size: 11px;
}

.rollout-combobox__input__left-element:not([data-icon]) {
  display: none;
}

.rollout-combobox__input__left-element[data-icon] ~ .rollout-combobox__input {
  padding-left: 40px;
}

.rollout-combobox__input__right-element {
  width: 16px;
  height: 16px;
  right: 8px;
}

.rollout-combobox__input__spinner {
  width: 12px;
  height: 12px;
}

.rollout-listbox {
  max-height: 288px;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  border: solid 1px;
  border-color: #d5dce2;
  border-radius: 4px;
}

.rollout-listbox__option {
  padding: 8px;
  font-size: 13px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: solid 1px;
  border-color: #f8f9fb;
  justify-content: flex-start;
}

.rollout-listbox__option[data-focused] {
  background: #f4f5f8;
}

.rollout-listbox__option[data-selected] {
  font-weight: 700;
}

.rollout-listbox__option-icon {
  border-width: 1px;
  border-color: #eff1f4;
  border-style: solid;
  border-radius: 4px;
  background: white;
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-right: 6px;
}

[role="group"][data-avatar] .rollout-listbox__option-icon {
  background: #c3c7ce;
  color: white;
  border: none;
  border-radius: 100%;
  padding: 0;
  font-size: 11px;
}

.rollout-automations-list__search-input__group {
  display: none;
}

.rollout-automations-list__new-btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  white-space: nowrap;
  background: #aa4849;
  color: white;
  border-radius: 4px;
}

.rollout-automations-list__new-btn:hover {
  background: #933b3c;
}

.rollout-automations-list__empty-msg {
  text-align: center;
  padding: 20px;
  border: 1px dashed #aa4849;
  border-radius: 4px;
  margin-inline: 16px;
}

.rollout-automations-list__content {
  width: 157px;
}

.rollout-automations-list__list {
  padding-left: 16px;
  padding-right: 16px;
}

.rollout-automations-list__item {
  margin-bottom: 8px;
  padding: 16px;
  border: 1px solid #d5dce2;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.rollout-form-control-find__container {
  display: flex;
  background: #e0e1e4;
  width: max-content;
  border-radius: 6px;
  margin-top: 10px;
}

.rollout-form-control-find__active {
  color: #aa4849;
  font-size: 0.8125rem;
  font-family: inherit;
  font-weight: 500;
  padding: 4px 36px;
  white-space: nowra;
  background: white;
  height: 32px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #e0e1e4;
}

.rollout-form-control-find__disabled {
  color: #6c6f75;
  font-family: inherit;
  font-size: 0.8125rem;
  font-weight: 500;
  padding: 4px 36px;
  white-space: nowrap;
  background: e0e0e5;
  height: 32px;
  cursor: pointer;
  border-radius: 8px;
}

.rollout-automations-list__item:hover {
  border: 1px solid #6c6f75;
}

.rollout-automations-list-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rollout-automations-list-item__icons {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
}

.rollout-automations-list-item__trigger,
.rollout-automations-list-item__action {
  margin-right: 8px;
  font-size: 24px;
}

.rollout-automations-list-item__name {
  height: 60px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #31373f;
}

.rollout-automations-list__options__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  color: #c3c7ce;
  transition: all 0.2s ease;
  padding-left: 8px;
  padding-right: 8px;
  width: 24px;
  height: 24px;
}

.rollout-automations-list__options__trigger:hover {
  background: #f4f5f8;
  color: #6c6f75;
}

.rollout-automations-list-item__options__trigger,
.rollout-automations-form-delete__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  color: #91959c;
  transition: all 0.2s ease;
  size: 32px;
}

.rollout-automations-list-item__options__trigger:hover {
  background: rgba(219, 97, 92, 0.1);
  color: #db615c;
}

/* .rollout-automations-form-delete__trigger:hover {
  background: rgba(219, 97, 92, 0.1);
  color: #db615c;
} */

.rollout-automations-list-item__options__trigger svg,
.rollout-automations-form-delete__trigger svg {
  width: 20px;
  height: 20px;
}

.rollout-automations-editor__loading {
  margin-inline: 16px;
}

.rollout-automations-editor__not-found {
  margin-inline: 16px;
}

.rollout-automations-manager__navbar {
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d5dce2;
}

.rollout-automations-manager__back-btn {
  display: inline-block;
  padding: 8px 0;
}

.rollout-automations-manager__back-btn:hover {
  color: #aa4849;
}

.rollout-automation-form {
  padding: 16px;
}

.rollout-automation-form__header,
.rollout-automation-form-delete__options {
  display: flex;
  align-items: center;
}

.rollout-automation-form__header {
  gap: 8px;
}

.rollout-automation-form__name {
  height: 36px;
  padding: 0 8px;
  font-weight: 600;
  font-size: 16px;
  background: none;
  border: 1px solid #d5dce2;
  border-radius: 4px;
}

.rollout-automation-form__action-inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rollout-automation-form__trigger,
.rollout-automation-form__action,
.rollout-automation-form__action-inputs {
  border: 1px solid #d5dce2;
  border-radius: 4px;
  padding: 16px;
  margin-top: 16px;
}

.rollout-automation-form__app-action,
.rollout-automation-form__credentials {
  margin-top: 10px;
}

.rollout-automation-form__label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.rollout-automation-form__helper-text {
  margin-bottom: 4px;
}

:not([role="group"][data-ready])
  .rollout-automation-form__action-inputs
  > .rollout-automation-form__label {
  color: #91959c;
  margin-bottom: 0;
}

.rollout-automation-form__content {
  margin-bottom: 16px;
}

.rollout-button--primary,
.rollout-button--secondary,
.rollout-button--danger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 32px;
  padding: 6px 20px;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  border: 1px solid;
  border-radius: 2px;
}

.rollout-button--primary {
  background: #aa4849;
  color: white;
}

.rollout-button--primary:hover {
  background: #933b3c;
}

.rollout-button--secondary {
  background-color: #8b8b8b;
  border-color: #8b8b8b;
  color: white;
}

.rollout-button--danger {
  background-color: rgba(219, 97, 92, 0.1);
  border-color: #db615c;
  color: #db615c;
}

.rollout-button--danger:hover {
  background-color: #ffe2e1;
}

.rollout-automation-form__buttons {
  display: flex;
  gap: 12px;
}

.rollout-automation-form__submit[disabled],
.rollout-automation-form__submit[data-loading] {
  opacity: 0.3;
}

.rollout-automation-form__delete {
  position: relative;
  margin-left: auto;
}

.rollout-automation-form__cancel ~ .rollout-automation-form__delete {
  margin-left: 0;
}

.rollout-automation-form-delete__confirm-dialog {
  position: absolute;
  bottom: 100%;
  right: 0px;
  white-space: nowrap;
  background: white;
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid rgb(248, 249, 251);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 16px;
}

.rollout-automation-form__delete-confirm-text {
  padding: 12px;
  font-size: 13px;
  font-weight: 500;
}

.rollout-automation-form__delete-confirm-buttons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 16px;
}

.rollout-automation-form__delete-cancel,
.rollout-automation-form__delete-confirm {
  width: 100%;
}

.rollout-form-control__required-hint {
  color: #aa4849;
}

.rollout-form-control__description {
  margin-bottom: 4px;
  font-size: 13px;
}

.rollout-form-control__error {
  margin-top: 4px;
  font-size: 13px;
  color: red;
}

.rollout-automation-form__api-token-input {
  margin-bottom: 16px;
}

.rollout-automation-form__api-token-input-info {
  font-size: 0.75rem;
  margin-bottom: 6px;
  color: #6c6f75;
}

.rollout-automation-form__api-token-input-label {
  font-size: 13px;
  margin-top: 6px;
}

.rollout-automation-form__api-token-input-container {
  margin-top: 8px;
}

.rollout__loading_spinner_container {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.rollout__loading_spinner {
  height: 1rem;
  width: 1rem;
}

.rollout-automations-list__error-msg {
  text-align: center;
  padding: 20px;
  border: 1px dashed #aa4849;
  border-radius: 4px;
}

.rollout-automation-form__line-items-container {
  border: "1px solid #DFE1E4";
  border-radius: "8px";
}

.rollout-automation-form__line-items-header {
  padding: "12px";
  display: "flex";
  gap: "12px";
  align-items: "center";
  background: "linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), #FFFFFF";
}

.rollout-automation-form__line-items-title {
  font-size: "13px";
  font-weight: "600";
}

.rollout-automation-form__line-items-content {
  padding: "16px";
  display: "flex";
  flex-direction: "column";
  gap: "16px";
}

.rollout-automation-form__subdomain-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.rollout-automation-form__subdomain-wrapper
  .rollout-automation-form__api-token-input {
  margin-bottom: 0;
}

.rollout-automation-form__subdomain-wrapper div {
  width: unset;
}
